<div class="prestation">
    <h2>{{ prestation.description }}</h2>
    <p>Unité : {{ prestation.unite }}</p>
    <p>Tarif : {{ prestation.tarif }}€</p>
    <img src="{{ prestation.img }}" alt="{{ prestation.description }}">
</div>
