{% extends 'layout.twig' %}

{% block body %}
    <div class="prestation">
        <h2>{{ prestation.description }}</h2>
        <p>Unité : {{ prestation.unite }}</p>
        <p>Tarif : {{ prestation.tarif }}€</p>
        <img src="/img/{{ prestation.img }}" alt="{{ prestation.description }}">
    </div>

    <a href="{{ url_for('prestations') }}?id={{ prestation.cat_id }}">Retour aux prestations</a>

{% endblock %}

